body {
    margin: 0px;
}

div.header {
    height: 200px;
    background-image: linear-gradient(to bottom, black, rgba(5, 46, 15, 0.5)), url("../images/headerbackground3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-color: black;
    text-align: center;
    overflow: hidden;
    width: auto;
}

.header-logo::first-line {
    line-height:100% !important;
}

.header-logo:hover {
    opacity:0.8;
    color: white;
}
.header-logo {
    width: auto;
    margin: auto;
    margin-top: 50px;
    padding: 25px 0;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 300;
    word-spacing: -5px;
    text-decoration: none;
    transition-duration: 0.5s;
}
.in-touch {
    border-bottom: 2px solid rgb(224, 140, 13);

}
select#materialSelect {
    padding: 10px 20px;
    font-weight: 500;
}